<a href="https://colab.research.google.com/github/lizal04/LizalAdhikari_dtsc3020fall2025/blob/main/assignment02_la0686.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
thelist = ["apple", "banana","mango"]
print (thelist)

['apple', 'banana', 'mango']

In [9]:
print(thelist[0])
print (thelist[1])
print (thelist[2])

apple
banana
mango

In [4]:
names = ["Lizal", "Alisha", "lizeth", "Alex"]
print(names)
names[0] = "Natlie"
print (names)

['Lizal', 'Alisha', 'lizeth', 'Alex']
['Natlie', 'Alisha', 'lizeth', 'Alex']

In [7]:
Vehicles = ["car", "bus", "bicycle", "truck", "boat"]
print(Vehicles)
Vehicles.append("van")
print(Vehicles)

['car', 'bus', 'bicycle', 'truck', 'boat']
['car', 'bus', 'bicycle', 'truck', 'boat', 'van']

In [8]:
Foods = ["pizza", "pasta", "sushi", "curry", "rice"]
print(Foods)
Foods.remove("pizza")
print(Foods)

['pizza', 'pasta', 'sushi', 'curry', 'rice']
['pasta', 'sushi', 'curry', 'rice']

In [10]:
cities = ["Kathmandu", "Dallas", "Paris", "Seattle"]
cities.sort()
cities.reverse()
print(cities)

['Seattle', 'Paris', 'Kathmandu', 'Dallas']

In [17]:
animals = ["Dog", "Cat", "Rabbit"]
for animal in animals:
  print(animal)

Dog
Cat
Rabbit

In [18]:
numbers = [1,2,3,4,5]
for number in numbers:
  print(number * 2)

2
4
6
8
10

In [20]:
friends = ["Jonathan", "Ray", "Lizeth", "Khushi", "Jordan", "Paxton"]
print(friends[:3])
print (friends [3:])

['Jonathan', 'Ray', 'Lizeth']
['Khushi', 'Jordan', 'Paxton']

In [23]:
numbers= list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
square = [i*i for i in range (1,6)]
print (square)

[1, 4, 9, 16, 25]